body {
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1516469679150-4fdd1f114f97?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}
.container {
  gap: 33px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.card {
  width: 24%;
  /* height: 400px; */
  box-shadow: 0 0 5px black;
  padding: 5px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  height: 40px;
  width: 35%;
}
.btn1 {
  width: 10%;
}

.container-weather {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  background-color: rgba(0, 0, 0, 0.3);
}

.container2 .body h1 {
  font-size: 90px;
}

.container2 .bottom {
  background-color: rgba(0, 0, 0, 0.1);
}
